<% include ./partials/header %>
<link rel="stylesheet" type="text/css" href="/css/index.css">

<div id="index_header">
    <div class="index_header__banner">
        <p><%= app_name %></p>
    </div>
    <div class="index_header__menu">
        <ul>
            <li><a href="#">Home</a></li>
            <li><a href="#">Servers</a></li>
            <li><a href="/forums">Forums</a></li>
        </ul>
    </div>
</div>

<% include ./partials/footer %>
