.forum_container .category_container {
    width: 100%;
    background: #fff;
    border-radius: 3px;
    margin-bottom: 20px;

    -webkit-box-shadow: 0px 0px 2px 0px rgba(0,0,0,0.45);
    -moz-box-shadow: 0px 0px 2px 0px rgba(0,0,0,0.45);
    box-shadow: 0px 0px 2px 0px rgba(0,0,0,0.45);
}

.forum_container .category_container:last-of-type {
    margin-bottom: 0;
}

.forum_container .category_container .category_action_bar {
    padding: 10px;
    box-sizing: border-box;
    border-top: 1px solid #D1D1D1;
}

.forum_container .category_container .category_action_bar button {
    background: none;
    border: none;
    padding: 5px 8px;
    border-radius: 44px;
    background: rgba(0,0,0,0);
    font-family: "Roboto", Arial, Sans-serif;
    font-weight: 300;
    font-size: 80%;
    cursor: pointer;
    transition: background 0.2s, color 0.2s;
    margin-right: 5px;
    outline: none;
}

.forum_container .category_container .category_action_bar button:hover {
    background: rgba(0,0,0,0.5);
    color: #fff;
}
.forum_container .category_container .category_action_bar button.delete:hover {
    background: rgba(249,41,41,0.7);
}

.forum_container .category_container .category_title {
    width: 100%;
    display: block;
    padding: 10px;
    box-sizing: border-box;
    font-size: 23px;
    font-weight: 400;
    border-bottom: 3px solid #1FEFA4;
    position: relative;
}

.forum_container .category_container .category_title span:last-of-type {
    font-size: 50%;
    position: absolute;
    top: 50%;
    right: 20px;
    transform: translateY(-50%);
}

.forum_container .category_container .table {
    display: table;
    table-layout: fixed;
}

.forum_container .category_container .table .table-cell {
    display: table-cell;
}

.forum_container .category_container .forum {
    width: 100%;
    padding: 15px;
    box-sizing: border-box;
    overflow: hidden;
    border-bottom: 1px solid #D1D1D1;
    background: #fff;
}

.forum_container .category_container .forum:last-of-type {
    border-bottom: none;
}

.forum_container .category_container .forum a {
    color: #226ECC;
    text-decoration: none;
}

.forum_container .category_container .forum .title_block {
    width: 50%;
    vertical-align: top;
}

.forum_container .category_container .forum .title_block > p {
    display: inline-block;
}

.forum_container .category_container .forum .title_block .main_icon {
    font-size: 17px;
    vertical-align: middle;
    padding-right: 15px;
    transition: color 0.2s;
}

.forum_container .category_container .forum:hover .title_block .main_icon {
    color: #1FEFA4;
}

.forum_container .category_container .forum .title_block .title {
    font-size: 19px;
    padding-bottom: 4px;
}

.forum_container .category_container .forum .title_block .title i {
    font-size: 16px;
    padding: 0 4px;
    color: #282C34;
}

.forum_container .category_container .forum .title_block .thread_counts {
    font-size: 14px;
}

.forum_container .category_container .forum .title_block .thread_counts span:first-of-type {
    margin-right: 6px;
}

.forum_container .category_container .forum .latest_block {
    width: 25%;
    font-size: 90%;
}

.forum_container .category_container .forum .latest_block p {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    text-align: right;
}

.forum_container .category_container .forum .latest_block p:first-of-type {
    padding-bottom: 4px;
}
