.forum_container .category_container .category_action_bar {
    padding: 10px;
    box-sizing: border-box;
    border-top: 1px solid #D1D1D1;
}

.forum_container .category_container .category_action_bar button {
    background: none;
    border: none;
    padding: 5px 8px;
    border-radius: 44px;
    background: rgba(0,0,0,0);
    font-family: "Roboto", Arial, Sans-serif;
    font-weight: 300;
    font-size: 80%;
    cursor: pointer;
    transition: background 0.2s, color 0.2s;
    margin-right: 5px;
    outline: none;
}

.forum_container .category_container .category_action_bar button:hover {
    background: rgba(0,0,0,0.5);
    color: #fff;
}
.forum_container .category_container .category_action_bar button.delete:hover {
    background: rgba(249,41,41,0.7);
}
