#cover {
    width: 100%;
    height: 300px;
    background: url('/assets/defaults/cover.jpg');
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
}

#profile_card {
    background: #fff;
    border-radius: 8px;
    width: 250px;
    height: 100px;
    background-size: cover;
    background-position: center;
    margin: 10px;
    display: table;
    table-layout: fixed;
    font-family: "Roboto", Arial, Sans-serif;
    color: #fff;
    position: absolute;
    z-index: 100;
    opacity: 0;
}

#profile_card .profile_card__avatar {
    display: table-cell;
    width: 60px;
}

#profile_card .profile_card__avatar span {
    width: 50px;
    height: 50px;
    box-sizing: border-box;
    margin: 5px;
    border-radius: 50%;
    background: #fff;
    background-size: cover;
    background-position: center;
    display: block;
}

#profile_card .profile_card__info {
    display: table-cell;
    vertical-align: top;
    box-sizing: border-box;
    padding: 5px;
}

#profile_card .profile_card__info .profile_card__username {
    font-weight: 400;
}

#profile_card .profile_card__info .profile_card__forum_role {
    font-weight: 300;
    font-size: 95%;
    margin: 4px 0;
    padding: 1px 3px;
    border-radius: 3px;
    display: inline-block;
}

#profile_card .profile_card__info .profile_card__forum_role.administrator {
    background-color: #F92929
}
#profile_card .profile_card__info .profile_card__forum_role.moderator {
    background-color: #226ECC
}
#profile_card .profile_card__info .profile_card__forum_role.member {
    background-color: #1FEFA4
}

#profile_card .profile_card__info .profile_card__bio {
    font-weight: 300;
    font-size: 88%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

#profile_card .profile_card__info .profile_card__stats {
    font-weight: 300;
    font-size: 80%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    margin-top: 4px;
}

#profile_card .profile_card__info .profile_card__stats span:first-of-type {
    margin-right: 5px;
}

#breadcrumbs {
    width: 100%;
    min-width: 600px;
    position: relative;
    font-family: "Roboto", Arial, Sans-serif;
    font-weight: 400;
    font-size: 17px;
    height: 40px;
    margin: 30px auto;
    display: block;
    border-radius: 44px;
    box-sizing: border-box;
    background: #F5F5F5;
}

#breadcrumbs a {
    display: inline-block;
    padding: 10px;
    height: 100%;
    position: relative;
    overflow: hidden;
    box-sizing: border-box;
    float: left;
}

#breadcrumbs span {
    display: block;
    float: left;
    background: #36393F;
    width: 1px;
    height: 100%;
    transform: rotate(8deg);
    opacity: 0.2;
}

#action_bar {
    background: #f5f5f5;
    border-radius: 3px;
    width: 100%;
    padding: 6px;
    box-sizing: border-box;
    font-family: "Roboto", Arial, Sans-serif;
    overflow: hidden;
    margin-bottom: 20px;
}

#action_bar .right_block {
    float: right;
}

#action_bar button {
    background: #50E486;
    border: none;
    outline: none;
    border-radius: 3px;
    border-bottom: 3px solid #19A54C;
    color: #fff;
    font-weight: 300;
    font-size: 95%;
    padding: 8px 10px;
    cursor: pointer;
    transition: background 0.2s;
    box-sizing: border-box;
    float: right;
    margin-left: 8px;
}

#action_bar button i {
    padding-right: 4px;
}

#action_bar button:hover {
    background: #73E99E;
}

#action_bar button:active {
    border-bottom-width: 1px;
    margin-top: 2px;
}

#new_forum_modal {
    width: 100%;
    height: 100%;
    background: #fff;
    z-index: 99999;
    position: fixed;
    top: 0;
    left: 0;
    overflow-y: auto;
    display: none;
}

#new_forum_modal #new_category {
    display: none;
}

#new_forum_modal .new_forum_modal__close_btn {
    position: fixed;
    top: 20px;
    right: 10%;
    background: none;
    outline: none;
    border: none;
    font-family: "Roboto", Arial, Sans-serif;
    font-size: 15px;
    font-weight: 700;
    color: #36393F;
    cursor: pointer;
    padding: 10px 20px;
    border-radius: 4px;
    transition: all 0.3s;
}

#new_forum_modal .new_forum_modal__close_btn:hover {
    background: rgba(240,240,240,0.5);
}

#new_forum_modal .new_forum_modal__save_btn {
    position: fixed;
    bottom: 20px;
    right: 10%;
    background: none;
    outline: none;
    border: none;
    font-family: "Roboto", Arial, Sans-serif;
    font-size: 18px;
    font-weight: 700;
    color: #fff;
    background: #50E486;
    cursor: pointer;
    padding: 12px 23px;
    border-radius: 44px;
    transition: background 0.3s;
}

#new_forum_modal .new_forum_modal__save_btn span {
    padding-left: 10px;
    font-size: 20px;
}

#new_forum_modal .new_forum_modal__save_btn.disabled {
    background-color: #19A54C;
    cursor: not-allowed;
}

#new_forum_modal .new_forum_modal__save_btn:hover {
    background: #20D261;
}

#new_forum_modal .relative_reset {
    width: 100%;
    height: 100%;
    position: relative;
}

#new_forum_modal .new_forum_modal_container {
    width: 100%;
    max-width: 1000px;
    margin: 20px auto;
    font-weight: 400;
    color: #36393F;
    font-family: "Roboto", Arial, Sans-serif;
    position: relative;
    padding: 25px;
    box-sizing: border-box;
}

#new_forum_modal .new_forum_modal_container .main_heading {
    width: 100%;
    font-weight: 700;
    font-size: 55px;
    margin: 70px 0 20px 0;
}

#new_forum_modal .new_forum_modal_container .block_heading {
    width: 100%;
    font-weight: 500;
    color: #565F70;
    font-size: 40px;
    margin: 70px 0 20px 0;
}

#new_forum_modal .new_forum_modal_container .block_divider {
    width: 100%;
    display: block;
    height: 2px;
    background: #36393F;
    opacity: 0.3;
    margin: 30px 0;
}

#new_forum_modal .new_forum_modal_container .new_forum_modal_section .section_spacer {
    width: 100%;
    display: block;
    margin: 20px 0;
    height: 1px;
}

#new_forum_modal .new_forum_modal_container .new_forum_modal_section input:not([type=checkbox]),
#new_forum_modal .new_forum_modal_container .new_forum_modal_section textarea,
#new_forum_modal .new_forum_modal_container .new_forum_modal_section select {
    padding: 15px 20px;
    border: none;
    outline: none;
    border-radius: 8px;
    font-size: 16px;
    background: #E3E3E3;
    width: 50%;
    margin-top: 20px;
    display: block;
    box-sizing: border-box;
}

#new_forum_modal .new_forum_modal_container .new_forum_modal_section span.input_container {
    position: relative;
}

#new_forum_modal .new_forum_modal_container .new_forum_modal_section span.input_container.invalid_url:after {
    content: "Invalid URL";
    color: #F94949;
    font-size: 12px;
}

#new_forum_modal .new_forum_modal_container .new_forum_modal_section span.input_container.invalid_image:after {
    content: "Invalid image (Supported formats: png, jpg, jpeg)";
    color: #F94949;
    font-size: 12px;
}

#new_forum_modal .new_forum_modal_container .new_forum_modal_section span.input_container.invalid_ign:after {
    content: "Invalid Minecraft username. (Must be 3-16 characters long, be alphanumeric, and may contain underscores)";
    color: #F94949;
    font-size: 12px;
}

#new_forum_modal .new_forum_modal_container .new_forum_modal_section textarea {
    max-width: 50%;
    min-width: 50%;
    min-height: 70px;
}

#new_forum_modal .new_forum_modal_container .new_forum_modal_section label {
    display: block;
    font-weight: 500;
    font-size: 14px;
    padding: 4px 0;
}

#new_forum_modal .new_forum_modal_container .new_forum_modal_section span.input_container.invalid_title:after {
    content: "Invalid Title";
    color: #F94949;
    font-size: 12px;
}

#new_forum_modal .new_forum_modal_container .new_forum_modal_section span.input_container.invalid_desc:after {
    content: "Invalid Description";
    color: #F94949;
    font-size: 12px;
}

.forum_container {
    width: 100%;
    box-sizing: border-box;
    overflow: hidden;
    font-family: "Roboto", Arial, Sans-serif;
    font-weight: 300;
    margin-bottom: 50px;
}

.forum_container .left_block,
.forum_container .right_block {
    float: left;
    box-sizing: border-box;
}

.forum_container .left_block {
    width: 75%;
}

.forum_container .right_block {
    width: 25%;
}




/* Custom CSS checkmark */
input[type=checkbox] + label {
  display: inline-block !important;
  cursor: pointer;
}

input[type=checkbox] {
  display: none;
}

input[type=checkbox] + label:before {
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    font-size: 120%;
    content: "\f09c";
    border: 0.1em solid #282C34;
    border-radius: 50%;
    display: inline-block;
    width: 20px;
    height: 20px;
    padding: 10px;
    text-align: center;
    margin-right: 8px;
    line-height: normal;
    vertical-align: middle;
    color: #282C34;
    transition: .2s;
}

input[type=checkbox] + label:active:before {
  transform: scale(0);
}

input[type=checkbox]:checked + label:before {
  background-color: #50E486;
  border-color: #50E486;
  color: #fff;
  content: "\f023";
}

input[type=checkbox]:disabled + label:before {
  transform: scale(1);
  border-color: #aaa;
}

input[type=checkbox]:checked:disabled + label:before {
  transform: scale(1);
  background-color: #bfb;
  border-color: #bfb;
}
